<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <contact_zohocrm>
            <general>
                <enabled>0</enabled>
                <api_domain>https://www.zohoapis.com</api_domain>
                <api_version>v2</api_version>
                <client_id>YOUR_CLIENT_ID</client_id>
                <client_secret>YOUR_CLIENT_SECRET</client_secret>
                <redirect_uri>http://localhost/admin/zohocrm/oauth/callback</redirect_uri>
                <module_name>Contacts</module_name>
                <sync_on_register>1</sync_on_register>
                <sync_on_update>1</sync_on_update>
                <sync_on_login>0</sync_on_login>
                <log_enabled>1</log_enabled>
                <log_level>info</log_level>
                <retry_attempts>3</retry_attempts>
                <retry_delay>5</retry_delay>
            </general>
            <!-- Flat keys: must match system.xml field paths and what ZohoClient::mapFields() reads -->
            <field_mapping>
                <firstname>First_Name</firstname>
                <lastname>Last_Name</lastname>
                <email>Email</email>
                <telephone>Phone</telephone>
                <dob>Date_of_Birth</dob>
                <gender>Gender</gender>
                <taxvat>Tax_VAT</taxvat>
                <company>Company</company>
            </field_mapping>
            <address_mapping>
                <street>Street</street>
                <city>City</city>
                <region>State</region>
                <country_id>Country</country_id>
                <postcode>Zip_Code</postcode>
            </address_mapping>
            <advanced>
                <batch_size>100</batch_size>
                <queue_enabled>0</queue_enabled>
                <webhook_enabled>0</webhook_enabled>
            </advanced>
        </contact_zohocrm>
    </default>
</config>
